<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.hyper-tracker.contrarian</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/gabrielefabietti/projects/hyper-tracker/contrarian/main.py</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/gabrielefabietti/projects/hyper-tracker/contrarian</string>

    <key>StandardOutPath</key>
    <string>/Users/gabrielefabietti/projects/hyper-tracker/logs/contrarian-stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/gabrielefabietti/projects/hyper-tracker/logs/contrarian-stderr.log</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>
